*{
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

main{
    width: 80%;
    margin: 1rem auto;
    background-color: aliceblue;
    text-align: center;
    padding: 0 2rem;
    box-sizing: border-box ;
    max-width: 1000px;
}

/* Title */
#title{
    margin-bottom: 2rem;
}

#title > h1{
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

/* Image */

#image{
    display: block;
    margin-inline: auto;
    width: 40%;
    max-width: 100%;
    height: auto;
}

#img-caption{
    color: rgb(77, 72, 72);
}

#tribute-info{
    margin: 2rem auto;
    width: 60%;
}


/* Info */
#tribute-info ul{
    text-align: left;
    font-size: 1rem;
    list-style:circle;
}

#tribute-info ul li{
    margin-top: 0.5rem;
}

li > span{
    font-weight: bold;
    margin-right: 0.8rem;
}

/* Quote */
#quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding: 0 5rem;
    margin-bottom: 1rem;
}

#quote-text{
    margin: 0;
    padding: 0 ;
}

#quote-author{
    color: rgb(77, 72, 72);
    margin-top: 0.5rem;
    align-self: flex-end;
}



/* Footer link */

#tribute-link{
    font-size: 1rem;
    padding-bottom: 1rem;
}

#tribute-link a {
    text-decoration: none;
}
#tribute-link a:hover {
    color: blue;
    cursor: pointer;
}